<head>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="div_test">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <br />
    <div id="div_input">
        <ol>
            <li v-for='salesVolume in salesVolumes'>
                <span>{{salesVolume.name}}销量{{salesVolume.salesVolume}}</span>
                <input v-model='salesVolume.salesVolume' />
            </li>
        </ol>
    </div>

    <script>
        var click_test = new Vue({
            el: '#div_test',
            data: {
                message: 'here is the message'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var input_text = new Vue({
            el: "#div_input",
            data: {
                salesVolumes: [
                    { name: '小米mix3', salesVolume: 1000 },
                    { name: '华为荣耀8', salesVolume: 1000 },
                    { name: '一加6T', salesVolume: 1000 }
                ]
                // salesVolumes: 0
            }
        })
    </script>
</body>